body{
    background-image:linear-gradient(50deg,rgb(168, 168, 201),white);
    width:100%;
    height:1000px;
    padding:0px;
    margin:0;
}
.main{
    margin-left:800px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dob{
    color:rgb(70, 69, 69);
    line-height: 50px;
}
.submit{
    background-color:rgb(4, 154, 44);
    border-color: rgb(40, 100, 56);
    color: aliceblue;
    font-weight: bold;
    width:80px;
    height: 25px;
    align-content: space-around;
    border-radius: 5px;
}
.submit:hover{
    background-color: black;
    color: white;
    width: 86px;
    height: 28px;
}
#div{
    margin-top: -400px;
    margin-left: 100px;
}
pre{
    color:rgb(42, 42, 110);
    font-size: 20px;
    font-weight: bold;
    word-spacing: -1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px; 
    margin-top: -540px;
    max-width:400px;
}
img{
    margin-left: 140px;
    max-width: 400px;
}
header{
    background-color: rgb(42, 42, 110);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding:0.6em 0em;
}
header a{
    color:aliceblue;
    text-decoration: none;
}
.p2{
    font-size:230%;
    align-self: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 150px;
}
header form{
    color: white;
    margin-left: 800px;
    margin-top: 20px;
}
header form ul{
    display:flex;
    flex-direction:row;
    list-style: none;
    padding:0;
    margin-top: 0;
}
header form li{
    align-self:flex-start;
    padding:0.2em 0.5em;
    font-size:80%;
}
header form input{
    margin-bottom: 0.8em;
    height:18px;
}
header form input[type="submit"]{
    background-color:rgb(42, 42, 110);
    border:1px solid #546aac;
    color:white;
    height: 24px;
    font-weight:bold;
    margin-top: 30%;
    cursor: pointer;
}
section{
    flex-grow: 1;
    width:100%;
    flex-direction: column;
    align-items:center;
}
input{
    height: 20px;
}
[input="password"]
{
    border-color: red;
}
.empass{
    width:355px !important;
}